// Sass Mixins

/// Animate css properties
///
/// @example scss - Usage
///   @include fade(all);
@mixin fade($prop) {
	-webkit-transition: $prop $animation-speed $animation-func;
	-moz-transition: $prop $animation-speed $animation-func;
	-o-transition: $prop $animation-speed $animation-func;
	transition: $prop $animation-speed $animation-func;
}

/// Hides the text in an element, commonly used to show an image. Some elements will need block-level styles applied.
///
/// @example scss - Usage
///  .element {
///     @include hide-text;
///  }
@mixin hide-text {
	overflow: hidden;
	text-indent: 101%;
	white-space: nowrap;
}

/// Mixin for styling form-placeholders
///
/// @example scss - Usage
///  @include placeholder {
///    color: #333;
///  }
@mixin placeholder {
	&::-webkit-input-placeholder {@content}
	&::-moz-placeholder {opacity: 1; @content}
	&:-moz-placeholder {@content}
	&:-ms-input-placeholder {@content}
	&::placeholder{@content}
}

/// Font-size px to rem calc
///
/// @example scss - Usage
///  selector {
///    @include rem-font-size(16px);
///  }
@mixin rem-font-size($pxSize) {
	font-size: $pxSize;
	font-size: ($pxSize / 16px) + rem;
}

/// Clearfix
///
/// @example scss - Usage
///  .holder{
///    @include clearfix;
//   }
@mixin clearfix{
	&:after{
		content: '';
		display: block;
		clear: both;
	}
}
